<% if check_login%>
    <h1><%= current_user.name %></h1>
    <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
    <h1>Tasklist</h1>
    <%= link_to 'Sign Up', signup_path %>
    <%= link_to 'Login', sessions_new_path %>
<% end %>
